@import url('https://fonts.googleapis.com/css?family=Raleway');

@mixin container($marginH, $marginV) {
    position: absolute;
    left: $marginH;
    right: $marginH;
    top: $marginV;
    bottom: $marginV;
}

#root {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    box-sizing: border-box;
}

.wait-screen {
    @include container(10px, 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        text-transform: uppercase;
        font-size: 2em;
    }
    p::after{
        content: "...";
    }
}

.main-screen {
    @include container(10px, 10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    // background: yellow;
    h1 {
        text-transform: uppercase;
        font-size: 3em;
    }
    .choose-city {
        display: flex;
        flex-direction: column;
        // background: orange;
        .city-location{
            h2::after{
                content: ":";
            }
        }
    }
    .show-weather{
        text-transform: uppercase;
        text-decoration: none;
        color: black;
        text-align: center;
        padding: 10px;
        margin: 10px;
        font-size: 1.5em;
        border: 1px lightblue solid;
        border-radius: 3px;
    }
    .show-weather:hover {
        background: lightblue;
        border: 1px blue solid;
    }
}

.city-location{
    padding: 5px;
    h2{
        text-transform: capitalize;
        margin: 20px 0;
    }
    div{
        display: flex;
        justify-content: space-between;
    }
    h3{
        text-align: end;
    }
}

.city-form{
    h2{
        text-transform: capitalize;
    }
    form{
        display: flex;
        justify-content: space-between;
        align-items: center;
        label{
            padding: 10px 3px;
            text-transform: uppercase;
        }
        label:after{
            content: ":";
        }
        input{
            border: 1px solid lightblue;
            padding: 10px 3px;
        }
    }
}

.city-flag{
    width: 100%;
    display: flex;
    button{ 
        flex-grow: 1;
        display: block;
        padding: 10px 0;
        font-size: 1.5em;
        text-transform: uppercase;
        background: none;
        border: 1px solid lightblue;
        margin: 20px 10px 10px;
        letter-spacing: 1px;
    }
}

@media screen and (max-width: 420px) and (orientation: portrait){
    .main-screen{
        @include container(40px, 10px);
        h1 {
            display: block;
            width: 100%;
            font-size: 2em;
            line-height: 1.3em;
            align-self: flex-start;
            margin: 30px 0 20px 0;
            padding-bottom: 30px;
            border-bottom: 1px solid lightblue;
        }
        .choose-city{
            padding: 0;
            margin: 0;
            width: 100%;
        }
    }
    
    .city-location{
        h2{
            margin: 10px 0;
        }
        .lat-lon{
            margin: 5px 0;
        }
        padding-bottom: 20px;
        border-bottom: 1px solid lightblue;
    }
    .city-form{
        border-bottom: 1px solid lightblue;
        padding: 5px;
        padding-bottom: 20px;
        h2 {
            margin: 20px 0;
        }
        form{
            margin: 10px 0;
        }
    }
    .city-flag{
        width: 100%;
        button{
            
        }
    }
}